/* elements */

body {
    background-color: #111111;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    margin-top: 0px;
    margin-bottom: 0rem;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

/* IDs */

#main {
    max-width: 1000px;
    margin: auto;
}

#myChart {
 width: 100%;
 max-height: 200px; 
 margin: 1rem;
 margin-bottom: 0rem;
}

#zip_search {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#humidity_uv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

#windspeed_aqi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

#location {
    color : rgb(200,200,200) ;
}

#myWindspeed {
    width: 80%;
}


/* classes */

.full_card {
    background-color: #222222;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
}

.small_card {
    background-color: #222222;
    max-width: 500px;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
}

.myChart {
    background-color: white;
    margin: auto;
    min-height: 200px;
    margin-bottom: 2rem;

}

.p5Canvas {
    margin: auto;
}

@media (max-width:800px) {
    
    .small_card {
        background-color: #222222;
        margin: auto;
        margin-bottom: 1rem;
        border-radius: 10px;
        padding: 1rem;
        width: 100%;
    }

    #humidity_uv {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #windspeed_aqi {
        display: grid;
        grid-template-columns: 1fr; 
    }
}


